* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cairo', sans-serif;
    color: #fff;
    background-image: url('images/غلاف بيتزا.jpeg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    line-height: 1.6;
}

.overlay {
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.6); /* طبقة تعتيم لإبراز النص */
    z-index: -1;
}

header {
    text-align: center;
    padding: 50px 20px;
}
.logo-area {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 2px;
}
.en-name {
    color: #ff9f43;
}
.divider {
    color: rgba(255, 255, 255, 0.2)
}
.ar-name {
    font-family: 'cairo', sans-serif;
    font-size: 2rem;
}


.menu-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.section-title {
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 2px solid orange;
    display: inline-block;
    padding-bottom: 5px;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    margin-bottom: 50px;
}

/* تأثير Glassmorphism (الكروت الزجاجية) */
.menu-card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.menu-card:hover {
    transform: translateY(-10px);
    background: rgba(255, 255, 255, 0.2);
}

.menu-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 15px;
}

.price {
    display: block;
    color: #ff9f43;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 10px;
}

/* زر واتساب العائم */
.whatsapp-float {
    position: fixed;
    bottom: 30px;
    left: 30px;
    width: 70px;
    height: 70px;
    background-color: #25d366;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    cursor: pointer;
    z-index: 1000;
    
}

.whatsapp-float img { width: 40px; 
    height: 40px; }

.cart-count {
    position: absolute;
    top: -5px; right: -5px;
    background: red;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 12px;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}
    
.whatsapp-float:hover {
    animation: pulse 1s infinite;
}
